@import './normalize.scss';
@import './resertElementUi.scss';
@import './iconfont.scss';
@import './config.scss';

div {box-sizing: border-box;}
a {color: $globalLinkColor; text-decoration: none; font-weight: 200;}


.input-w80 { width: 125px;}
.input-w200 {width: 260px;}

.c-w200 {width: 200px;}
.c-w300 {width: 300px;}

.c-h30 {height: 30px !important;}

.c-ml10 {margin-left: 10px;}
.c-ml20 {margin-left: 20px;}
