@import './config.scss';

.el-backtop {
  color: black;
}
.el-header { background-color: $headerBgColor; height: 50px !important; z-index: 3;}
.el-input { 
  //height: 35px;
  .el-input__inner {
    height: 35px;
  }
}