._blog {
  .el-header {
    width: 100%;
    padding: 0 20px;
    background: $blogHeaderColor;
    box-shadow: 0 2px 2px $blogHeaderColor;
    transition: .2s ease all;
    height: 50px !important;
    z-index: 3;
    position: fixed;
  }
  .blog-main {
    max-width: $blogHeaderWidth;
    padding: 90px 10px 10px 10px;
    margin: 0 auto;
  }
}