._blog {
  .blog-header-height {
    background-color: $blogHeaderColor;
    .header-content {
      width: 100%;
      height: $blogHeaderHeight;
      // line-height: $blogHeaderHeight;
      .el-col {
        line-height: $blogHeaderHeight;
      }
      padding: 0 0px;
      ._logo {
        font-size: 20px;
      }
      .menu-user {
        text-align: right;
        color: $blogHeaderFnotColor;
      }
    }
  }
}